*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.hero{
    width: 23%;
    height: 20vh;
    background-image: linear-gradient();
    position: relative;
padding:  0;
display:flexbox;
align-items: right;
justify-content: left;
}

nav{
    width:100%;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

nav.logo{
    width: 60px;
}
nav ul li{
    list-style: none;
    display: inline;
    vertical-align: 40px;
}
nav ul li a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 30px;
}

nav ul{
    justify-self: flex-end;
    

}

.content{
    text-align: center;
}

.content h1{
    font-size: 160px;
    color:white;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color:aliceblue;
    font-size: 32px;
    border: 3px solid;
    padding: 16px 80px;
    margin-top: 25px;
}